<html>
    <head>
        <title>Angular 2 TypeScript Gulp QuickStart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>document.write('<base href="' + document.location + '" />');</script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- 1. Load libraries -->
        <!-- IE required polyfills, in this exact order -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
        <script src="https://npmcdn.com/angular2@2.0.0-beta.13/es6/dev/src/testing/shims_for_IE.js"></script>

        <script src="https://code.angularjs.org/2.0.0-beta.13/angular2-polyfills.js"></script>
        <script src="https://code.angularjs.org/tools/system.js"></script>
        <script src="https://npmcdn.com/typescript@1.8.9/lib/typescript.js"></script>
        <script src="https://code.angularjs.org/2.0.0-beta.13/Rx.js"></script>
        <script src="https://code.angularjs.org/2.0.0-beta.13/angular2.dev.js"></script>
        <script src="https://code.angularjs.org/2.0.0-beta.13/http.dev.js"></script>

        <!-- Add the router library -->
        <script src="https://code.angularjs.org/2.0.0-beta.13/router.dev.js"></script>

        <!-- 1. Load libraries -->
        <!-- IE required polyfills, in this exact order -->
        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/es6-shim/es6-shim.min.js') }}"></script-->
        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/systemjs/dist/system-polyfills.js') }}"></script-->
        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/angular2/es6/dev/src/testing/shims_for_IE.js') }}"></script-->

        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/angular2/bundles/angular2-polyfills.js') }}"></script-->
        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/systemjs/dist/system.src.js') }}"></script-->
        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/rxjs/bundles/Rx.js') }}"></script-->
        <!-- script src="{{ asset('bundles/xrowrest/js/angular/oauth2/build/lib/angular2/bundles/angular2.js') }}"></script-->

        <!-- 2. Configure SystemJS -->
        <script>
            System.config({
                packages: {
                    'angular2-jwt':      {main: '../../../bundles/xrowrest/js/angular/oauth2/build/lib/angular2-jwt/angular2-jwt.js'},
                    'jwt-decode':        {main: '../../../bundles/xrowrest/js/angular/oauth2/build/lib/jwt-decode/build/jwt-decode.js'},
                    'app/main':          {main: '../../../../bundles/xrowrest/js/angular/oauth2/build/app/main.js'},
                    'app/app.component': {main: '../../../../bundles/xrowrest/js/angular/oauth2/build/app/app.component.js'},
                    'home/home':         {main: '../../../../bundles/xrowrest/js/angular/oauth2/build/home/home.js'},
                    'login/login':       {main: '../../../../bundles/xrowrest/js/angular/oauth2/build/login/login.js'},
                    'common/headers':    {main: '../../../../bundles/xrowrest/js/angular/oauth2/build/common/headers.js'}
                }
            });

            System.import('app/main')
                .then(null, console.error.bind(console));
        </script>
    </head>
    <!-- 3. Display the application -->
    <body>
        <app>Loading...</app>
    </body>
</html>