<html>
    <head>
        <title>Angular 2 TypeScript Gulp QuickStart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

        <!-- 1. Load libraries -->
        <script src="{{ asset('bundles/xrowrest/js/angular/openIDConnect/build/lib/vendors.js') }}"></script>
        <script src="{{ asset('bundles/xrowrest/js/angular/openIDConnect/build/main.js') }}"></script>

        <script type='text/javascript'>
        var jwtProviderId = '{{oa_params.jwtProviderId}}',
            pathToLoginTemplate = '/bundles/xrowrest/js/angular/openIDConnect/build/login.html',
            oauthSettings = {"client_id": "{{oa_params.clid}}",
                             "client_secret": "{{oa_params.clsc}}",
                             "baseURL": "{{oa_params.clba}}",
                             "endpointPrefix": "{{oa_params.endpoint_rest}}",
                             "tokenURL": "{{oa_params.endpoint_token}}/token",
                             "authURL": "{{oa_params.endpoint_rest}}/auth",
                             "openIDConnectURL": "{{oa_params.endpoint_rest}}/oicauth",
                             "apiSessionURL": "{{oa_params.endpoint_rest}}/session",
                             "apiLogoutURL": "{{oa_params.endpoint_rest}}/sessions",
                             "setcookieURL": "{{oa_params.endpoint_rest}}/setcookie",
                             "checkSessionIframeURL": "{{oa_params.endpoint_rest}}/check_session_iframe"};
        </script>

        <!-- 2. Configure SystemJS -->
        <script>
            System.config({
                packages: {
                    app: {
                        defaultExtension: 'js',
                        format: 'register'
                    }
                }
            });
        </script>
    </head>
    <!-- 3. Display the application -->
    <body>
        <angular-sso-login-app>Loading...</angular-sso-login-app>

        <script>
        System.import('main')
                .then(null, console.error.bind(console));
        </script>
    </body>
</html>