<html>
  <head>
    <title>Angular 2 Test 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link rel="stylesheet" href="styles.css"-->

    {# Fürs Anlegen eines Blocks #}
    {#% javascripts output='js/angular.test1.js'
        '@xrowRestBundle/Resources/public/js/angular/node_modules/es6-shim/es6-shim.min.js'
        '@xrowRestBundle/Resources/public/js/angular/node_modules/angular2/es6/dev/src/testing/shims_for_IE.js'
        '@xrowRestBundle/Resources/public/js/angular/node_modules/angular2/bundles/angular2-polyfills.js'
        '@xrowRestBundle/Resources/public/js/angular/node_modules/rxjs/bundles/Rx.umd.js'
        '@xrowRestBundle/Resources/public/js/angular/node_modules/angular2/bundles/angular2-all.umd.js'
        '@xrowRestBundle/Resources/public/js/angular/test1/app/app.component.js'
        '@xrowRestBundle/Resources/public/js/angular/test1/app/main.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %#}
    
    <!-- browserify node_modules/es6-shim/es6-shim.min.js node_modules/angular2/es6/dev/src/testing/shims_for_IE.js node_modules/angular2/bundles/angular2-polyfills.js node_modules/rxjs/bundles/Rx.umd.js node_modules/angular2/bundles/angular2-all.umd.js test1/app/app.component.js test1/app/main.js > test1.js -->

<!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="{{ asset('bundles/xrowrest/js/angular/node_modules/es6-shim/es6-shim.min.js') }}"></script>
    <script src="{{ asset('bundles/xrowrest/js/angular/node_modules/angular2/es6/dev/src/testing/shims_for_IE.js') }}"></script>

    <script src="{{ asset('bundles/xrowrest/js/angular/node_modules/angular2/bundles/angular2-polyfills.js') }}"></script>
    <script src="{{ asset('bundles/xrowrest/js/angular/node_modules/rxjs/bundles/Rx.umd.js') }}"></script>
    <script src="{{ asset('bundles/xrowrest/js/angular/node_modules/angular2/bundles/angular2-all.umd.js') }}"></script>

    <!-- 2. Load our 'modules' -->
    <script src="{{ asset('bundles/xrowrest/js/angular/test1/app/app.component.js') }}"></script>
    <script src="{{ asset('bundles/xrowrest/js/angular/test1/app/main.js') }}"></script>
  </head>

  <!-- 3. Display the application -->
  <body>
    <my-app>Loading...</my-app>
  </body>

</html>